@font-face {
    font-family: 'Italianno';
    src: url('../fonts/Italianno-Regular-OTF.otf');
}

header nav {
    background-color: #5340FF;
    color: white;
    font-family: 'Italianno';
    font-size: 35px;
    margin-left: 0%;
}

header nav span img {
    width: 6%;
    margin-left: 3%;
    margin-right: 1%;
}

#cardMain {
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;
    margin-top: 5%;
    border: 1px solid slategray;
    display: none;
}

#headerCardMain {
    border-radius: 8px 8px 0px 0px;
    color: black;
}

#imgLogoUsers {
    width: 40px;
}

#btnAddClient {
    height: 40px;
    font-size: 12px;
    border-radius: 25px;
}

#inputSearch {
    border-radius: 40px;
}

#tableClients {
    margin-top: 4%;
    width: 100%;
    display: none;
}

thead tr th {
    padding: 1% 2% 1% 2%;
    background-color: slategray;
    color: white;
}

tbody tr td {
    padding: 0% 2% 0% 2%;
}

.column1 {
    width: 10%;
    border-radius: 20px 0px 0px 20px;
}

.column2 {
    width: 35%;
}

.column3 {
    width: 30%;
}

.column4 {
    width: 15%;
    border-radius: 0px 20px 20px 0px;
    text-align: center;
}

tr:hover {
    background-color: rgb(214, 221, 228);
    cursor: pointer;
}

.icon-search, .icon-delete {
    width: 15px;
}

.icon-search:hover, .icon-delete:hover {
    width: 20px;
}

.btnView, .btnDelete {
    border-radius: 50px;
}

#clientsEmptyInfo {
    background-color: rgb(207, 207, 207);
    font-size: 24px;
    border-radius: 30px;
    text-align: center;
    display: none;
    margin-top: 5%;
    padding-top: 1%;
}

#loading {
    color: white;
    font-size: 16px;
    margin-top: calc(90vh / 2);
}

textarea {
    resize: none;
}

.required {
    color: red;
}